<div class="dnet-desktop-header-content">
    <div class="dnet-desktop-header-left">
        <div id="logo-group" class="dnet-dashboard-right-container dnet-m-l-10">
            <div class="company-logo-wrapper">
                @ChildContent
            </div>
            <div id="app-name" class="dnet-m-l-">
                <span>@AppName</span>
            </div>
            <div id="app-description" class="dnet-m-l-10">
                <span>@AppDescription</span>
            </div>
            <div id="app-version" class="dnet-m-l-5">
                <span>@AppVersion</span>
            </div>
        </div>
    </div>
    <div class="dnet-desktop-header-right">
        <div class="dnet-dashboard-right-container">
            <div class="dnet-dashboard-user-data">
                <div>
                    <span class="dnet-dashboard-person-name">@PersonName</span>
                </div>
                <div>
                    <span class="dnet-dashboard-user-name">@UserName</span>
                </div>
            </div>
            <div class="dnet-dashboard-icon-wrapper">
                <span class="dnet-dashboard-icon dnet-dashboard-icon-default" unselectable="on"></span>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string AppName { get; set; }

    [Parameter]
    public string AppDescription { get; set; }

    [Parameter]
    public string AppVersion { get; set; }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string PersonName { get; set; }
}
