@using System.IO
@using Dnet.Blazor.Components.Dialog.Infrastructure.Interfaces
@using Dnet.Blazor.Components.ImageEditor.Infrastructure.Enums
@using Dnet.Blazor.Components.ImageEditor.Infrastructure.Models
@using Dnet.Blazor.Components.ImageEditor.Infrastructure.Services
@using Dnet.Blazor.Components.Overlay.Infrastructure.Enums
@using Dnet.Blazor.Components.Overlay.Infrastructure.Services
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Dnet.Blazor.Components.Button

@inject IJSRuntime JSRuntime
@inject IDialogService DialogService
@inject IStyleService StyleService
@inject IImageEditorService ImageEditorService

@implements IDragAndDropJsCallbacks

<div class="dnet-image-editor-wrapper" style="height: 100%">
    <div>
        <div class="dnet-image-editor-controls">
            <span @onclick="OnCropImage" class="dnet-icon-wrapper">
                <span class="dnet-icon dnet-icon-crop" unselectable="on"></span>
                <span class="dnet-icon-text" unselectable="on">Crop</span>
            </span>
        </div>
        <div class="dnet-editor-container">
            <div class="dnet-image-container">
                <div class="dnet-image-original-text">
                    <span style="margin-right: 10px">Original Image</span>
                    <span style="color: #4fc3f7">@Convert.ToInt32(_imgWidth) x @Convert.ToInt32(_imgHeight) </span>
                </div>
                <div @ref="_dragAndDropArea" class="dnet-editing-image">
                    @if (!string.IsNullOrEmpty(_imageUrl))
                    {
                        <img @ref="_image" src="@_imageUrl" />
                        @if (_isImageEditorReady)
                        {
                            <div style="@StyleService.GetCropContainerStyles(_imageContainerHeight, _imageContainerWidth)">
                                <div @ref="_cropbox" class="dnet-crop-box" draggable="true" style="@_styles">
                                </div>
                                <div class="dnet-crop-box-dummy" style="@_styles">
                                </div>
                                @foreach (var resizer in _resizerData)
                                {
                                    <div @ref="resizer.Reference" class="dnet-crop-box-resizer" style="@StyleService.GetResizerStyles(resizer)">
                                    </div>
                                }
                                @foreach (var mask in _maskData)
                                {
                                    <div class="@mask.Class" style="@StyleService.GetMaskStyles(mask)">
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="dnet-image-preview">
                <div class="dnet-image-preview-text">
                    <span style="margin-right: 10px">Previsualizacion</span>
                    <span style="color: #4fc3f7">@Convert.ToInt32(_imgPreviewWidth) x @Convert.ToInt32(_imgPreviewHeight) </span>
                </div>
                <img src="@_imagePreviewUrl" style="@StyleService.GetImagePreviewStyles(_imgPreviewHeight, _imgPreviewWidth)" />
            </div>
        </div>
    </div>
    <div class="dnet-img-dialog-controls">
        <DnetButton OnClick="CancelOverlay" class="dnet-m-r-10">Close</DnetButton>
        <DnetButton OnClick="CloseOverlay" class="dnet-m-r-10" disabled="@(_workingImageStream == null)" InitialFocus="true">Ok</DnetButton>
    </div>
</div>

@code {

    [CascadingParameter]
    private int OverlayReferenceId { get; set; }

    [Parameter]
    public DialogData DialogData { get; set; }

    private ElementReference _cropbox;

    private ElementReference _dragAndDropArea;

    private ElementReference _resizerTopCenter;

    private ElementReference _resizerBottomCenter;

    private ElementReference _image;

    private MemoryStream _fullSizeImageStream { get; set; }

    private MemoryStream _workingImageStream { get; set; }

    private MemoryStream _resulImageStream { get; set; }

    private string _styles { get; set; }

    private DnetImageEditorInterop _jsInterop;

    private List<ResizerData> _resizerData { get; set; }

    private List<MaskData> _maskData { get; set; }

    private double _imgHeight { get; set; } = 480;

    private double _imgWidth { get; set; } = 640;

    private int _imageContainerHeight { get; set; }

    private int _imageContainerWidth { get; set; }

    private int _imgPreviewHeight { get; set; }

    private int _imgPreviewWidth { get; set; }

    private double _cropBoxHeight { get; set; } = 100;

    private double _cropBoxWidth { get; set; } = 100;

    private long _maxFileSizes { get; set; }

    private string _imageUrl { get; set; }

    private string _imagePreviewUrl { get; set; }

    private List<string> _allowedFormats { get; set; }

    private List<ImageEditorControlType> _imageEditingControls { get; set; }

    private DraggedData _draggedData { get; set; }

    private bool _isImageEditorReady { get; set; }


    protected override void OnInitialized()
    {
        var dialogData = DialogData;

        _fullSizeImageStream = dialogData.imageFile;
        _imageContainerHeight = dialogData.ImageContainerHeight;
        _imageContainerWidth = dialogData.ImageContainerWidth;
        _imgPreviewHeight = dialogData.ImagePreviewHeight;
        _imgPreviewWidth = dialogData.ImagePreviewWidth;
        _maxFileSizes = dialogData.MaxFileSizes;
        _allowedFormats = dialogData.AllowedFormats;
        _imageEditingControls = dialogData.ImageEditingControls;
        _workingImageStream = dialogData.WorkingImageStream;
        _imageUrl = dialogData.ImageUrl;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeEditor();
        }
    }

    private async Task InitializeEditor()
    {
        _jsInterop = new DnetImageEditorInterop(this, JSRuntime);

        await _jsInterop.GetBoundingClientRect(_image);

        var _imageSizeData = await _jsInterop.GetBoundingClientRect(_image);

        _imgHeight = _imageSizeData.Height;
        _imgWidth = _imageSizeData.Width;

        var cropBoxTop = _imgHeight / 2 - _cropBoxHeight / 2;
        var cropBoxLeft = _imgWidth / 2 - _cropBoxWidth / 2;

        _styles = StyleService.GetStyles(cropBoxLeft, cropBoxTop, _cropBoxHeight, _cropBoxWidth);

        _resizerData = ImageEditorService.InitializeResizers();

        _maskData = ImageEditorService.PlaceMasks(_imgWidth, _imgHeight, cropBoxTop, cropBoxLeft, _cropBoxWidth, _cropBoxHeight);

        foreach (var resizer in _resizerData)
        {
            ImageEditorService.UpdateResizersData(resizer, cropBoxTop, cropBoxLeft, _cropBoxWidth, _cropBoxHeight);
        }

        _isImageEditorReady = true;

        StateHasChanged();

        _draggedData = new DraggedData
            {
                Left = cropBoxLeft,
                Top = cropBoxTop,
                Height = _cropBoxHeight,
                Width = _cropBoxWidth
            };

        _jsInterop.InitializeDragAndDrop(_cropbox, _dragAndDropArea, cropBoxLeft, cropBoxTop);

        _jsInterop.InitializeResize(_resizerData, cropBoxLeft, cropBoxTop, _cropBoxHeight, _cropBoxWidth, _imgWidth, _imgHeight, "TopCenter", 50, 50);
    }

    private async Task OnCropImage()
    {
        // Invocamos a Photon en el lado JS para hacer crop+resize
        var dataUrl = await JSRuntime.InvokeAsync<string>(
            "dnetimageeditor.cropWithPhoton",
            _image,
            _draggedData.Left,
            _draggedData.Top,
            _draggedData.Width,
            _draggedData.Height,
            _imgPreviewWidth,
            _imgPreviewHeight);

        _imagePreviewUrl = dataUrl;

        // Convertimos el data URL devuelto a MemoryStream para seguir usando el mismo contrato
        var commaIndex = dataUrl.IndexOf(',', StringComparison.Ordinal);
        if (commaIndex > 0)
        {
            var base64Part = dataUrl.Substring(commaIndex + 1);
            var bytes = Convert.FromBase64String(base64Part);
            _resulImageStream = new MemoryStream(bytes);
        }
    }

    void IDragAndDropJsCallbacks.OnDragStart()
    {
    }

    void IDragAndDropJsCallbacks.OnDrag(DraggedData draggedData)
    {
        UpdateEditorLayout(draggedData);
    }

    void IDragAndDropJsCallbacks.OnDragEnd(DraggedData draggedData)
    {
        UpdateEditorLayout(draggedData);
    }

    void IDragAndDropJsCallbacks.OnResizeStart()
    {
    }

    void IDragAndDropJsCallbacks.OnResize(DraggedData draggedData)
    {
        UpdateEditorLayout(draggedData);
    }

    void IDragAndDropJsCallbacks.OnResizeEnd(DraggedData draggedData)
    {
        UpdateEditorLayout(draggedData);
    }

    void UpdateEditorLayout(DraggedData draggedData)
    {
        _styles = StyleService.GetStyles(draggedData.Left, draggedData.Top, draggedData.Height, draggedData.Width);

        _maskData = ImageEditorService.PlaceMasks(_imgWidth, _imgHeight, draggedData.Top, draggedData.Left, draggedData.Width, draggedData.Height);

        foreach (var resizer in _resizerData)
        {
            ImageEditorService.UpdateResizersData(resizer, draggedData.Top, draggedData.Left, draggedData.Width, draggedData.Height);
        }

        _draggedData = draggedData;

        StateHasChanged();
    }

    void CloseOverlay()
    {
        var dataResult = new OverlayResult()
            {
                CloseReason = CloseReason.Ok,
                ComponentData = _resulImageStream,
                OverlayReferenceId = OverlayReferenceId

            };

        DialogService.Close(dataResult);
    }

    void CancelOverlay()
    {
        var dataResult = new OverlayResult()
            {
                CloseReason = CloseReason.Cancel,
                ComponentData = null,
                OverlayReferenceId = OverlayReferenceId

            };

        DialogService.Close(dataResult);
    }
}

